# Visual studio settings
.vs/
.vsconfig

# Rider settings
.idea/

# Unity stuff
obj/
Logs/
Library/
UserSettings/
Temp/
Assets/StreamingAssets
Assets/StreamingAssets.meta
*.csproj
*.sln
*.slnx

.utmp/
*.user
